* {
  font-family: Helvetica;
  text-align: center;
}

.broadway {
  color: White;
}

.broadway h1 {
  font-size: 70px;
  font-weight: bold;
}

.broadway h3 {
  font-size: 18px;
}
 .broadway a {
   color: White;
 }

 h6 {
   font-size: 23px;
   font-weight: bold;
   color: White;
 }

 h2 {
   font-size: 32px;
   font-weight: bold;
 }

 h4 {
   font-size: 23px;
   font-weight: bold;
 }

 h5 {
   font-size: 14px;
 }

 .foot {
   background-color: dimgray;
   font-size: 11px;
   color: White;
   text-align: left;;
 }

 .foot a {
   color: White;
   font-size: 18px;
 }
